{
  "env": {
    "browser": true
  },
  "rules": {
    "react/forbid-prop-types": "off",
    "react/require-default-props": "off",
    "react/no-array-index-key": "off",
    "react/jsx-closing-bracket-location": ["error", "after-props"],
    "react/sort-comp": ["error", {
      "order": [
        "static-methods",
        "lifecycle",
        "everything-else",
        "/^render.+$/",
        "render"
      ]
    }]
  }
}
