<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Task Management</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
  <link rel="stylesheet" href="bundle.css" />
  <!--link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" /-->
  <!-- link rel="stylesheet" href="style.css" / -->
</head>
<body>
  <div id="root"></div>
  <script id="configuration" type="application/json">
    <%= configuration %>
  </script>
  <script src="bundle.js"></script>
</body>
</html>
